.git
.gitignore
.gitlab-ci.yml
.env*
*.md
.vscode
.idea
node_modules
dist
build
coverage
*.log
logs/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.semgrepignore
frontend/playwright-report/
frontend/test-results/
backend/tests/
frontend/tests/
